<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="../public/css/main.css">
    
<body>

    <div id="EcommerceContainer">
        <header>
            <ul class='header'>
                <li><a>HOME</a></li>
                <li><a>STORE</a></li>
                <li><a>ABOUT</a></li>
                <a class="cart-holder">cart<span class='cart-number'>0</span></a>
            </ul>
            <h1>The Generics</h1>
        </header>
        <section id="mobile" class="container">
            <h2>MOBILES</h2>
            <div id ="mobile-content">
                <div id='Iphone 14 Pro Max'>
                    <h3>Iphone 14 Pro Max</h3>
                    <div class="image-container">
                        <img class="prod-images" src="../img//Iphone 14 pro Max.webp" alt="">
                        
                        
                    </div>
                                    <div class="prod-details">
                        <span>$<span>1,199.00</span></span>
                        <button class="shop-item-button" type='button'>ADD TO CART</button>
                    </div>
                </div>
                <div id='Samsung S22 Ultra'>
                    <h3>Samsung S22 Ultra</h3>
                    <div class="image-container">
                        <img class="prod-images" src="../img/s22ultra.jpeg" alt="">
                    </div>
                                    <div class="prod-details">
                        <span>$<span>949.99</span></span>
                        <button class="shop-item-button" type='button'>ADD TO CART</button>
                    </div>
                </div>
                <div id='Nothing Phone 1'>
                    <h3>Nothing Phone 1</h3>
                    <div class="image-container">
                        <img class="prod-images" src="../img/nothing-phone-1.jpeg" alt="">
                    </div>
                                    <div class="prod-details">
                        <span>$<span>949.99</span></span>
                        <button class="shop-item-button" type='button'>ADD TO CART</button>
                    </div>
                </div>
                <div id='OnePlus 10 Pro'>
                    <h3>OnePlus 10 Pro</h3>
                    <div class="image-container">
                        <img class="prod-images" src="../img/one plus 10pro.png" alt="">
                    </div>
                                    <div class="prod-details">
                        <span>$<span> 549.99</span></span>
                        <button class="shop-item-button" type='button'>ADD TO CART</button>
                    </div>
                </div>
            </div>

        </section>


        <section id="shoe" class="container">
            <h2>SHOES</h2>
            <div id="shoe-content">
                <div id="place1">
                    <h3>Nike Air Jordan</h3>
                    <div class="image-container">
                        <img class="prod-images" src="../img/jordan niki.jpg" alt="">
                    </div>
                                <div class="prod-details">
                        <span>$<span>250</span></span>
                        <button class="shop-item-button" type='button'>ADD TO CART</button>
                    </div>
                </div>
                <div id="place2">
                    <h3>Puma Trc Blaze</h3>
                    <div class="image-container">
                        <img class="prod-images" src="../img/trc blaze.jpg" alt="">
                    </div>
                                <div class="prod-details">
                        <span>$<span>350</span></span>
                        <button class="shop-item-button" type='button'>ADD TO CART</button>
                    </div>
                </div>
            </div>

        </section>

        

        <button class="cart-btn-bottom"> <a class="cart-bottom">See the cart</a></button>

    </div>




    <div id="container"></div>
    <footer>
        <div class="footer-title">
            The Generics
        </div>
        <div class="footer-icons">
            <ul>
                <li><a href="https://www.youtube.com">
                    <img src="../img/youtube.jpg" alt="">
                </a></li>
                <li><a href="https://spotify.com">
                    <img src="../img/spotify.png" alt="">
                </a></li>
                <li><a href="https://facebook.com">
                    <img src="../img/facebook.png" alt="">
                </a></li>
            </ul>
        </div>
    </footer>



</body>
</html>